
/* =====[ GLOBAL STYLES ]======================================================================== */

body > div {
    padding: 0 32px;
}

.container {
    width: 960px;
}

/* =====[ MENU ]================================================================================= */

@media screen and (min-width: 753px) {
    #menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* =====[ HEADER ]=============================================================================== */

#header {
    position: relative;
	background: #666;
}

#header .container {
    overflow: visible;
}

@media screen and (min-width: 753px) {
    #header {
        margin-top: 76px;
    }
}

/* -----[ SLIDER ]------------------------------------------------------------------------------- */

#header .arrow {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 29px;
    height: 35px;
    cursor: pointer;
    background: url(../img/header.png);
    z-index: 1;
}

#header .arrow.left {
    left: 0;
}

#header .arrow.right {
    right: 0;
    background-position: right top;
}

#header .arrow.left:hover {
    background-position: left bottom;
}

#header .arrow.right:hover {
    background-position: right bottom;
}

#header ul {
    position: relative;
}

#header ul,
#header li {
    height: 580px;
}

#header li {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #fbfbfb;
    behavior: url(pie.htc);
}

/* -----[ SLIDE 1 ]------------------------------------------------------------------------------ */

#header .slide1 {
    display: block;
    text-align: center;
}

#header .slide1 img {
    margin-top: 50px;
}

#header .slide1 h2 {
    font-family: HelveticaLight;
    margin-top: 23px;
    font-size: 50px;
}

#header .slide1 h2 b {
    font-family: Helvetica, Arial, sans-serif;
}

#header .slide1 p {
    margin-top: 14px;
    font-size: 40px;
}

#header .slide1 .button {
    margin-top: 52px;
}

/* -----[ SLIDE 2 ]------------------------------------------------------------------------------ */

#header .slide2 img {
    margin: 106px 0 0 -10px;
}

/* -----[ SLIDE 3 ]------------------------------------------------------------------------------ */

#header .slide3 {
    padding-left: 564px;
    width: 396px;
}

#header .slide3 > img {
    position: absolute;
    top: 2px;
    left: -28px;
}

#header .slide3 h2 {
    margin-top: 147px;
    font-size: 50px;
}

#header .slide3 h2 + p {
    margin-top: 12px;
    line-height: 46px;
    font-size: 38px;
}

#header .slide3 .button {
    margin-top: 22px;
}

#header .slide3 .button + p {
    margin: 19px 0 0 56px;
    font-size: 11px;
    text-shadow: none;
    color: #f4f4f4;
}

/* -----[ SLIDE 4 ]------------------------------------------------------------------------------ */

#header .slide4 img {
    margin: 187px 0 0 211px;
}

/* -----[ SLIDE 5 ]------------------------------------------------------------------------------ */

#header .slide5 {
    padding-left: 564px;
    width: 396px;
}

#header .slide5 > img {
    position: absolute;
    top: 39px;
    left: -25px;
}

#header .slide5 h2 {
    margin-top: 150px;
    font-size: 50px;
}

#header .slide5 h2 + p {
    margin-top: 16px;
    line-height: 45px;
    font-size: 38px;
}

#header .slide5 .button {
    margin-top: 17px;
}

#header .slide5 .button + p {
    margin: 19px 0 0 56px;
    font-size: 11px;
    text-shadow: none;
    color: #f4f4f4;
}

/* -----[ SLIDE 6 ]------------------------------------------------------------------------------ */

#header .slide6 img {
    margin: 148px 0 0 -8px;
}

/* -----[ SLIDE 7 ]------------------------------------------------------------------------------ */

#header .slide7 img {
    margin: 94px 0 0 150px;
}

/* =====[ TWITTER ]============================================================================== */

#twitter {
    border-bottom: 1px solid #cacaca;
    background: linear-gradient(#fff, #f8f8f8);
    background: -webkit-linear-gradient(#fff, #f8f8f8);
    background: -moz-linear-gradient(#fff, #f8f8f8);
    background: -o-linear-gradient(#fff, #f8f8f8);
    background: -ms-linear-gradient(#fff, #f8f8f8);
    -pie-background: linear-gradient(#fff, #f8f8f8);
    box-shadow: 0 2px 0 #f0f0f0;
    -webkit-box-shadow: 0 2px 0 #f0f0f0;
    -moz-box-shadow: 0 2px 0 #f0f0f0;
    -ms-box-shadow: 0 2px 0 #f0f0f0;
    -o-box-shadow: 0 2px 0 #f0f0f0;
    behavior: url(pie.htc);
}

#twitter a:hover {
    text-decoration: underline;
}

#twitter .container {
    padding: 34px 115px 39px;
    width: 730px;
    text-align: center;
    background: url('../img/twitter.png') no-repeat 40px 55px;
}

#twitter .user {
    font-size: 13px;
    color: #008bed;
}

#twitter .tweet,
#twitter .tweet a {
    font-size: 15px;
}

#twitter .tweet {
    margin-top: 8px;
    line-height: 28px;
    color: #606669;
}

#twitter .tweet a {
    color: #f21266;
}

#twitter .time {
    margin-top: 1px;
    font-size: 11px;
    color: #a3a3a3;
}

/* =====[ WORKS ]================================================================================ */

#works {
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    z-index: 1;
    box-shadow: 0 2px 0 #ececec;
    -webkit-box-shadow: 0 2px 0 #ececec;
    -moz-box-shadow: 0 2px 0 #ececec;
    -ms-box-shadow: 0 2px 0 #ececec;
    -o-box-shadow: 0 2px 0 #ececec;
    behavior: url(pie.htc);
}

#works .container {
    overflow: visible;
    padding: 75px 0 83px;
}

/* -----[ MENU ]--------------------------------------------------------------------------------- */

#works .menu {
    display: inline-block;
    overflow: hidden;
}

#works .menu p {
    display: none;
}

#works .menu li {
    float: left;
}

#works .menu li + li:before {
    content: url(../img/bullet1.png);
    padding: 0px 10px 0 14px;
}

#works .menu a {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #a3a3a3;
    cursor: pointer;
}

#works .menu a:hover,
#works .menu .active a {
    color: #353637;
}

#works .menu .active a {
    cursor: default;
}

#works .menu.combo {
    border: 3px solid rgba(0, 0, 0, 0.05);
    height: 36px;
    cursor: pointer;
    background: url(../img/combo.png) no-repeat right top #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 0 #bab9b9 inset, -1px -1px 0 #bab9b9 inset;
    -webkit-box-shadow: 1px 1px 0 #bab9b9 inset, -1px -1px 0 #bab9b9 inset;
    -moz-box-shadow: 1px 1px 0 #bab9b9 inset, -1px -1px 0 #bab9b9 inset;
    -ms-box-shadow: 1px 1px 0 #bab9b9 inset, -1px -1px 0 #bab9b9 inset;
    -o-box-shadow: 1px 1px 0 #bab9b9 inset, -1px -1px 0 #bab9b9 inset;
    behavior: url(pie.htc);
}

#works .menu.combo:hover,
#works .menu.combo.open {
    background-position: right -36px;
}

#works .menu.combo p {
    padding: 9px 48px 10px 13px;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    color: #353637;
}

#works .menu.combo ul {
    top: 36px;
    left: -3px;
    right: -3px;
    border: 3px solid rgba(0, 0, 0, 0.05);
    padding: 7px 20px 7px 14px;
    background: #fff;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -o-background-clip: padding-box;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 1px 1px 0 #BAB9B9 inset, -1px -1px 0 #BAB9B9 inset;
    -webkit-box-shadow: 1px 1px 0 #BAB9B9 inset, -1px -1px 0 #BAB9B9 inset;
    -moz-box-shadow: 1px 1px 0 #BAB9B9 inset, -1px -1px 0 #BAB9B9 inset;
    -ms-box-shadow: 1px 1px 0 #BAB9B9 inset, -1px -1px 0 #BAB9B9 inset;
    -o-box-shadow: 1px 1px 0 #BAB9B9 inset, -1px -1px 0 #BAB9B9 inset;
    behavior: url(pie.htc);
}

#works .menu.combo li + li:before {
    content: "";
    padding: 0;
}

#works .menu.combo a,
#works .menu.combo .active a {
    color: #a3a3a3;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 34px;
    background: url(../img/bullet4.png) no-repeat right center;
}

#works .menu.combo a:hover {
    color: #008bed;
    background-image: url(../img/bullet2.png);
}

/* -----[ LIST ]--------------------------------------------------------------------------------- */

#works .list {
    margin-top: 50px;
    width: 988px;
}

#works .list li {
    overflow: hidden;
    float: left;
    margin: 0 26px 62px 0;
}

#works .list h2 {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #434343;
}

#works .list p {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #a3a3a3;
}

#works .list a {
    display: block;
    position: relative;
}

#works .list a,
#works .list img,
#works .list a .hover {
    width: 221px;
    height: 166px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#works .list a .hover {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/work.png);
}

#works .all {
    text-align: center;
}

#works .all a {
    font-size: 13px;
    color: #008bed;
}

#works .all a:hover {
    text-decoration: underline;
}

/* =====[ SERVICES ]============================================================================= */

#services {
    border-bottom: 1px solid #e4e4e4;
    background: #f6f6f6;
    box-shadow: 0 -1px 0 #ececec inset;
    -webkit-box-shadow: 0 -1px 0 #ececec inset;
    -moz-box-shadow: 0 -1px 0 #ececec inset;
    -ms-box-shadow: 0 -1px 0 #ececec inset;
    -o-box-shadow: 0 -1px 0 #ececec inset;
    behavior: url(pie.htc);
}

#services .container {
    padding: 71px 0 94px;
}

#services h2 {
    font-size: 28px;
    text-align: center;
    color: #2d2d2d;
}

#services h2 + p {
    margin-top: 14px;
    line-height: 22px;
    font-size: 15px;
    text-align: center;
    color: #7c8387;
}

#services .menu {
    display: none;
}

/* -----[ LIST ]--------------------------------------------------------------------------------- */

#services .arrow {
    display: none;
}

#services .list {
    position: relative;
    margin-top: 44px;
    z-index: 2;
}

#services .wrapper {
    padding-bottom: 25px;
}

#services .list li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    border: 1px solid #efefef;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 2px;
    width: 218px;
    background: #fff;
    box-shadow: 0 2px 0 #eeeeee;
    -webkit-box-shadow: 0 2px 0 #eeeeee;
    -moz-box-shadow: 0 2px 0 #eeeeee;
    -ms-box-shadow: 0 2px 0 #eeeeee;
    -o-box-shadow: 0 2px 0 #eeeeee;
}

#services .list li + li {
    margin-left: 23px;
}

#services .list li,
#services .list p {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#services .list img {
    margin: 22px 0 26px 27px;
    width: 166px;
    height: 166px;
}

#services .list h3 {
    position: relative;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #e2e2e2;
    padding: 19px 15px 17px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #434343;
    background: #fff;
    box-shadow: 0 2px 0 #fafafa;
    -webkit-box-shadow: 0 2px 0 #fafafa;
    -moz-box-shadow: 0 2px 0 #fafafa;
    -ms-box-shadow: 0 2px 0 #fafafa;
    -o-box-shadow: 0 2px 0 #fafafa;
}

#services .list h3 .spike {
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -11px;
    width: 23px;
    height: 12px;
    background: url(../img/spike.png);
}

#services .list p {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 9px 17px 15px;
    font-size: 13px;
    text-align: center;
    line-height: 22px;
    color: #7c8387;
}

#services .list table {
    position: absolute;
    bottom: -22px;
    border-collapse: collapse;
    width: 100%;
}

#services .list td {
    font-size: 11px;
    white-space: nowrap;
}

#services .list td:first-child {
    padding: 0 15px;
    color: #a3a3a3;
}

#services .list td:last-child {
    padding-right: 10px;
    text-align: right;
}

#services .list td span {
    display: inline-block;
    padding-left: 15px;
    font-weight: bold;
    color: #f21266;
    background: url(../img/heart1.png) no-repeat left 2px;
}

/* =====[ CONTACT US ]=========================================================================== */

#contact_us {
    border-bottom: 1px solid #afafaf;
    background: #f6f6f6;
    text-align: center;
    z-index: 1;
    box-shadow: 0 2px 0 #dcdcdc;
    -webkit-box-shadow: 0 2px 0 #dcdcdc;
    -moz-box-shadow: 0 2px 0 #dcdcdc;
    -ms-box-shadow: 0 2px 0 #dcdcdc;
    -o-box-shadow: 0 2px 0 #dcdcdc;
    behavior: url(pie.htc);
}

#contact_us .decoration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 380px;
    height: 441px;
    background: url(../img/contact_us.png);
}

#contact_us .container {
    padding: 73px 0 152px;
}

#contact_us h2 {
    font-family: HelveticaLight;
    font-size: 22px;
    color: #2d2d2d;
}

#contact_us .button {
    margin-top: 26px;
}

/* =====[ MEMBERS ]============================================================================== */

#members .arrow {
    display: none;
}

#members {
    background: #fafafa;
}

#members .container {
    padding: 71px 0 86px;
}

#members h2 {
    font-size: 28px;
    text-align: center;
    color: #2d2d2d;
}

#members h2 + p {
    margin-top: 14px;
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    color: #7c8387;
}

/* -----[ LIST ]--------------------------------------------------------------------------------- */

#members .list {
    overflow: hidden;
    margin: 64px 0 0 21px;
}

#members .list li {
    float: left;
    position: relative;
    margin-right: 66px !important;
    padding-top: 189px;
    width: 180px;
    text-align: center;
}

#members .list img,
#members .list img + a,
#members .list .join a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
}

#members .list img + a {
    background: url(../img/members.png);
}

#members .list h3 {
    font-size: 18px;
    font-weight: bold;
    color: #2d2d2d;
}

#members .list p {
    font-size: 13px;
    line-height: 20px;
    color: #a3a3a3;
}

#members .list div.social {
    overflow: hidden;
    display: inline-block;
    margin-top: 14px;
}

#members .list .join a {
    display: block;
    background: url(../img/members.png) no-repeat -180px 0;
}

#members .list .join a:hover {
    background-position: -360px 0;
}

/* =====[ ABOUT ]================================================================================ */

#about {
    background: #fafafa;
}

#about .container {
    padding-bottom: 101px;
}

#about .container > img {
    float: left;
    width: 464px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    /*behavior: url(pie.htc);*/
}

#about .column {
    float: right;
    padding-top: 20px;
    width: 463px;
}

#about h2 {
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
}

#about p {
    margin-top: 11px;
    font-size: 13px;
    line-height: 20px;
    color: #7c8387;
}

#about ul {
    margin: 19px 0 0 18px;
}

#about li {
    padding-left: 18px;
    font-size: 13px;
    line-height: 22px;
    color: #606669;
    background: url(../img/heart1.png) no-repeat left 7px;
}

#about li + li {
    margin-top: 4px;
}

#about .favorites h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    color: #2d2d2d;
}

#about .container > .favorites {
    clear: both;
    display: none;
    margin-top: 43px;
    text-align: center;
}

#about .container > .favorites img {
    margin-top: 11px;
}

#about .column .favorites {
    overflow: hidden;
    margin-top: 37px;
}

#about .column .favorites h3,
#about .column .favorites img {
    float: left;
}
#about .column .favorites h3 {
    margin-right: 24px;
}

/* =====[ CLIENTS ]============================================================================== */

#clients {
    overflow: hidden;
    background: #fafafa;
    z-index: 1;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    behavior: url(pie.htc);
}

#clients .container {
    overflow: visible;
    padding-bottom: 116px;
}

#clients .arrow {
    display: block;
    position: absolute;
    top: 42px;
    width: 27px;
    height: 50px;
    background-image: url(../img/clients.png);
    cursor: pointer;
}

#clients .left {
    left: -32px;
    background-position: 0 0;
}

#clients .left:hover {
    background-position: 0 -50px;
}

#clients .right {
    right: -32px;
    background-position: 0 -100px;
}

#clients .right:hover {
    background-position: 0 -150px;
}

#clients ul li {
    float: left;
    margin-right: 24px !important;
}

#clients ul a {
    display: block;
    border: 1px solid #cacaca;
    width: 220px;
    padding: 49px 0;
    height: 30px;
    text-align: center;
    background: linear-gradient(#fff, #f4f4f4);
    background: -webkit-linear-gradient(#fff, #f4f4f4);
    background: -moz-linear-gradient(#fff, #f4f4f4);
    background: -ms-linear-gradient(#fff, #f4f4f4);
    background: -o-linear-gradient(#fff, #f4f4f4);
    -pie-background: linear-gradient(#fff, #f4f4f4);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 1px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 1px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 1px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    behavior: url(pie.htc);
}

/* =====[ CONTACT ]============================================================================== */

#contact {
    overflow: hidden;
    border-bottom: 1px solid #a8a8a8;
}

#contact .container {
    padding: 0 3px;
    width: 982px;
}

#contact .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 31px 0 28px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
    background: rgba(0, 0, 0, 0.55);
    -pie-background: rgba(0, 0, 0, 0.55);
    behavior: url(pie.htc);
}

#contact .box {
    overflow: hidden;
    position: relative;
    margin: 389px auto 117px;
    border: 1px solid #b5b5b5;
    /* padding: 31px 22px 4px 24px; */
    background: url(../data/contact/big.png) no-repeat 25px 86px #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* -----[ INFO ]--------------------------------------------------------------------------------- */

#contact ul {
    /* display: table; */
    /* float: left; */
    margin-top: 10px;
    /* width: 438px; */
    font-size: 15px;
    color: #7c8387;
}

#contact ul li {
    overflow: hidden;
    /* display: table-cell; */
    margin: 20px;
}

#contact ul b,
#contact ul a {
    font-size: 15px;
    font-weight: bold;
    color: #2d2d2d;
}

#contact .ico {
    float: left;
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    background-image: url(../img/contact.png);
}

#contact .ico.phone {
    background-position: 0 0;
}

#contact .ico.email {
    background-position: -16px 0;
}

#contact .ico.address {
    height: 22px;
    background-position: -32px 0;
}

#contact li.address {
    display: none;
    margin-top: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #434343;
}

#contact li.address .ico {
    margin-top: -4px;
}
#contact li.address b {
    font-weight: bold;
}

/* -----[ FORM ]--------------------------------------------------------------------------------- */

#contact form {
    float: right;
    width: 492px;
    text-align: center;
}

#contact form input,
#contact form textarea {
    display: block;
    margin-left: 24px;
    border: 1px solid #d3d3d3;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #2d2d2d;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#contact form .placeholder {
    color: #7c8387;
}

#contact form input {
    float: left;
    margin-bottom: 22px;
    padding: 11px 12px 10px;
    width: 194px;
}

#contact form textarea {
    position: relative;
    top: 2px;
    padding: 14px 12px 33px;
    width: 438px;
    height: 112px;
    resize: none;
}

#contact form .button {
    top: -24px;
    left: 12px;
}